Package: org.thebigboss.browserswipe
Name: browserswipe
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Swipe to go back in Google Chrome!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
